* text=auto !eol
/build.xml -text
/manifest.mf -text
nbproject/build-impl.xml -text
nbproject/genfiles.properties -text
nbproject/project.properties -text
nbproject/project.xml -text
src/prettify/PrettifyParser.java -text
src/prettify/example/Example.java -text
src/prettify/example/example.html -text
src/prettify/example/package-info.java -text
src/prettify/lang/Lang.java -text
src/prettify/lang/LangAppollo.java -text
src/prettify/lang/LangClj.java -text
src/prettify/lang/LangCss.java -text
src/prettify/lang/LangGo.java -text
src/prettify/lang/LangHs.java -text
src/prettify/lang/LangLisp.java -text
src/prettify/lang/LangLua.java -text
src/prettify/lang/LangMl.java -text
src/prettify/lang/LangN.java -text
src/prettify/lang/LangProto.java -text
src/prettify/lang/LangScala.java -text
src/prettify/lang/LangSql.java -text
src/prettify/lang/LangTex.java -text
src/prettify/lang/LangVb.java -text
src/prettify/lang/LangVhdl.java -text
src/prettify/lang/LangWiki.java -text
src/prettify/lang/LangXq.java -text
src/prettify/lang/LangYaml.java -text
src/prettify/lang/package-info.java -text
src/prettify/parser/CombinePrefixPattern.java -text
src/prettify/parser/Job.java -text
src/prettify/parser/Prettify.java -text
src/prettify/parser/Util.java -text
src/prettify/parser/package-info.java -text
src/prettify/theme/ThemeDefault.java -text
src/prettify/theme/ThemeDesert.java -text
src/prettify/theme/ThemeSonsOfObsidian.java -text
src/prettify/theme/ThemeSunburst.java -text
src/prettify/theme/package-info.java -text
src/syntaxhighlight/JTextComponentRowHeader.java -text
src/syntaxhighlight/ParseResult.java -text
src/syntaxhighlight/Parser.java -text
src/syntaxhighlight/Style.java -text
src/syntaxhighlight/SyntaxHighlighter.java -text
src/syntaxhighlight/SyntaxHighlighterPane.java -text
src/syntaxhighlight/Theme.java -text
test/prettify/PrettifyTest.java -text
test/prettify/PrettifyTest/result/C.txt -text
test/prettify/PrettifyTest/result/C_lang.txt -text
test/prettify/PrettifyTest/result/Cpp.txt -text
test/prettify/PrettifyTest/result/Cpp_lang.txt -text
test/prettify/PrettifyTest/result/PHP.txt -text
test/prettify/PrettifyTest/result/bash.txt -text
test/prettify/PrettifyTest/result/bash_lang.txt -text
test/prettify/PrettifyTest/result/coffee.txt -text
test/prettify/PrettifyTest/result/css.txt -text
test/prettify/PrettifyTest/result/go.txt -text
test/prettify/PrettifyTest/result/html.txt -text
test/prettify/PrettifyTest/result/htmlXmp.txt -text
test/prettify/PrettifyTest/result/html_lang.txt -text
test/prettify/PrettifyTest/result/issue12.txt -text
test/prettify/PrettifyTest/result/issue12_lang.txt -text
test/prettify/PrettifyTest/result/issue14a.txt -text
test/prettify/PrettifyTest/result/issue14b.txt -text
test/prettify/PrettifyTest/result/issue20.txt -text
test/prettify/PrettifyTest/result/issue21.txt -text
test/prettify/PrettifyTest/result/issue24.txt -text
test/prettify/PrettifyTest/result/issue27.txt -text
test/prettify/PrettifyTest/result/issue30.txt -text
test/prettify/PrettifyTest/result/issue33.txt -text
test/prettify/PrettifyTest/result/issue4.txt -text
test/prettify/PrettifyTest/result/issue42.txt -text
test/prettify/PrettifyTest/result/issue45.txt -text
test/prettify/PrettifyTest/result/issue79.txt -text
test/prettify/PrettifyTest/result/issue8.txt -text
test/prettify/PrettifyTest/result/issue84.txt -text
test/prettify/PrettifyTest/result/issue92.txt -text
test/prettify/PrettifyTest/result/issue93.txt -text
test/prettify/PrettifyTest/result/java.txt -text
test/prettify/PrettifyTest/result/java_lang.txt -text
test/prettify/PrettifyTest/result/javascript.txt -text
test/prettify/PrettifyTest/result/misc1.txt -text
test/prettify/PrettifyTest/result/perl.txt -text
test/prettify/PrettifyTest/result/proto.txt -text
test/prettify/PrettifyTest/result/python.txt -text
test/prettify/PrettifyTest/result/python_lang.txt -text
test/prettify/PrettifyTest/result/scala.txt -text
test/prettify/PrettifyTest/result/sql_lang.txt -text
test/prettify/PrettifyTest/result/vhdl.txt -text
test/prettify/PrettifyTest/result/wiki.txt -text
test/prettify/PrettifyTest/result/xhtml.txt -text
test/prettify/PrettifyTest/result/xml.txt -text
test/prettify/PrettifyTest/result/xsl.txt -text
test/prettify/PrettifyTest/result/yaml1.txt -text
test/prettify/PrettifyTest/result/yaml2.txt -text
test/prettify/PrettifyTest/source/C.txt -text
test/prettify/PrettifyTest/source/C_lang.txt -text
test/prettify/PrettifyTest/source/Cpp.txt -text
test/prettify/PrettifyTest/source/Cpp_lang.txt -text
test/prettify/PrettifyTest/source/PHP.txt -text
test/prettify/PrettifyTest/source/bash.txt -text
test/prettify/PrettifyTest/source/bash_lang.txt -text
test/prettify/PrettifyTest/source/coffee.txt -text
test/prettify/PrettifyTest/source/css.txt -text
test/prettify/PrettifyTest/source/go.txt -text
test/prettify/PrettifyTest/source/html.txt -text
test/prettify/PrettifyTest/source/htmlXmp.txt -text
test/prettify/PrettifyTest/source/html_lang.txt -text
test/prettify/PrettifyTest/source/issue12.txt -text
test/prettify/PrettifyTest/source/issue12_lang.txt -text
test/prettify/PrettifyTest/source/issue14a.txt -text
test/prettify/PrettifyTest/source/issue14b.txt -text
test/prettify/PrettifyTest/source/issue20.txt -text
test/prettify/PrettifyTest/source/issue21.txt -text
test/prettify/PrettifyTest/source/issue24.txt -text
test/prettify/PrettifyTest/source/issue27.txt -text
test/prettify/PrettifyTest/source/issue30.txt -text
test/prettify/PrettifyTest/source/issue33.txt -text
test/prettify/PrettifyTest/source/issue4.txt -text
test/prettify/PrettifyTest/source/issue42.txt -text
test/prettify/PrettifyTest/source/issue45.txt -text
test/prettify/PrettifyTest/source/issue79.txt -text
test/prettify/PrettifyTest/source/issue8.txt -text
test/prettify/PrettifyTest/source/issue84.txt -text
test/prettify/PrettifyTest/source/issue92.txt -text
test/prettify/PrettifyTest/source/issue93.txt -text
test/prettify/PrettifyTest/source/java.txt -text
test/prettify/PrettifyTest/source/java_lang.txt -text
test/prettify/PrettifyTest/source/javascript.txt -text
test/prettify/PrettifyTest/source/misc1.txt -text
test/prettify/PrettifyTest/source/perl.txt -text
test/prettify/PrettifyTest/source/proto.txt -text
test/prettify/PrettifyTest/source/python.txt -text
test/prettify/PrettifyTest/source/python_lang.txt -text
test/prettify/PrettifyTest/source/scala.txt -text
test/prettify/PrettifyTest/source/sql_lang.txt -text
test/prettify/PrettifyTest/source/vhdl.txt -text
test/prettify/PrettifyTest/source/wiki.txt -text
test/prettify/PrettifyTest/source/xhtml.txt -text
test/prettify/PrettifyTest/source/xml.txt -text
test/prettify/PrettifyTest/source/xsl.txt -text
test/prettify/PrettifyTest/source/yaml1.txt -text
test/prettify/PrettifyTest/source/yaml2.txt -text
